.container-farmacia{
display: flex;
flex-direction: column;
min-height: 100vh;

}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--cor-2);
  width: 100%;
  height: 85px;
}
  a{
    color: var(--cor-1);
    font-size: 25px;
  }
  #logo{
    height: 85px;
  }
  h2{
    color: white;
  }

.body{
  background-color: #ccc;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  /* height: inherit; */
  min-height: calc(100vh - 85px);
}

/* .todos{
} */

  #cartoes{
    height: 200px;
  }
  /* .image-comp{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
  } */
  .text{
    display: flex;
    flex-direction: column;

    background-color: var(--cor-1);
    color: white;
    width: 65%;
    align-items: center;

    font-size: 30px;
    gap: 25px;
  }
  h1{
    color: var(--cor-4);
    font-size: 40px;
  }
  h6{
    font-size: 30px;

  }
  #img-completo{
    height: 150px;
  }
  .left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    background-color: var(--cor-1);
  }

  .right{
    width: 50%;
    background-color: var(--cor-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
    .text-2{
      width: 75%;
    }
    #img-camisa{
      height: 200px;
    }
    #button{
      border-radius: 10px;
      border-color: var(--cor-4);
      background-color: var(--cor-4);
      color: white;
      padding: 25px;
      width: 100%;
    }
    #button:hover{
      border-radius: 10px solid;
      border-color: var(--cor-4);
      background-color: var(--cor-2);
      color: var(--cor-4);

      /* font-size: 15px; */
      transition: 0.8s;
      padding: 25px;
      width: 100%;
      cursor: pointer;
    }
    #far-ver{
      color: var(--cor-4);
      font-size: 20px;
    }

  .baixo{
    background-color: black;
    width: 100%;
    height: 85px;
  }
