.container-farmacia{
display: flex;
flex-direction: column;

}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--cor-4);
  width: 100%;
  height: 85px;
}
  #logo{
    height: 85px;
  }
  h2{
    color: white;
  }

.body{
  background-color: #ccc;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  height: 800px;
}
  .image-comp{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
  }
  .text{
    display: flex;
    flex-direction: column;

    background-color: var(--cor-2);

    width: 40%;
    align-items: center;

    font-size: 30px;
    gap: 30px;
  }
  h1{
    color: var(--cor-4);
  }
  h6{
    font-size: 20px;

  }
  #img-completo{
    height: 150px;
  }
  .left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    background-color: var(--cor-2);
  }

  .right{
    width: 50%;
    background-color: var(--cor-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
    #button{
      border-radius: 10px;
      border-color: var(--cor-4);
      background-color: var(--cor-4);
      color: white;
      padding: 25px;
      width: 100%;
    }
    #button:hover{
      border-radius: 10px solid;
      border-color: var(--cor-1);
      background-color: var(--cor-1);
      color: white;
      padding: 25px;
      width: 100%;
    }
    #far-ver{
      color: var(--cor-4);
      font-size: 20px;
    }

  .baixo{
    background-color: black;
    width: 100%;
    height: 85px;
  }
