#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Isso garante que a imagem cubra toda a tela sem distorção */
  z-index: -1; /* Isso coloca a imagem atrás de outros elementos */
}

.text-left{

  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  margin: 40px;
  color: rgb(188, 221, 231);
}

.text-1{
  position:absolute;
  left: 0;
  font-size: 18px;
  margin: 40x;
  color: rgb(188, 221, 231);
  text-align: center;
}

h1{
color: rgb(132, 144, 12);
}


.lerAno{
  color: rgb(132, 144, 12);
  border-radius: 20px;
  border-color: rgb(132, 144, 12);
  padding: 20px;
}

.lerAno:hover{
  background-color: rgb(132, 144, 12);
  color: white;
  opacity: 1;
  transition: transform 0.6s;
}
